<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="co/kremnev/starter/logback-observability.xml"/>

    <springProfile name="!docker &amp; !k8s">
        <root level="INFO">
            <appender-ref ref="CONSOLE_PLAIN"/>
        </root>
    </springProfile>

    <springProfile name="docker | k8s">
        <root level="INFO">
            <appender-ref ref="CONSOLE_JSON"/>
            <appender-ref ref="LOGSTASH"/>
        </root>
    </springProfile>
</configuration>
